@font-face {
  font-family: 'AnekBangla';
  src: url('../../public/fonts/AnekBangla-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'AnekBangla';
  src: url('../../public/fonts/AnekBangla-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'AnekBangla';
  src: url('../../public/fonts/AnekBangla-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'AnekBangla';
  src: url('../../public/fonts/AnekBangla-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'AnekBangla';
  src: url('../../public/fonts/AnekBangla-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'AnekBangla';
  src: url('../../public/fonts/AnekBangla-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Light.ttf');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Regular.ttf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Medium.ttf');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-ExtraBold.ttf');
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('../../public/fonts/Inter-Black.ttf');
  font-style: normal;
  font-weight: 900;
}
